doctype html
html(lang='en')
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(name='description', content='')

  // Twitter Summary Card
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@StonedHQ')
  meta(name='twitter:title', content='Get Stoned')
  meta(name='twitter:description', content='Crystal clear audio without any wires.')
  meta(name='twitter:image', content='https://stoned.audio/img/twittershare.jpg')
  meta(name='twitter:url', content='https://stoned.audio')

  // Facebook
  meta(property='og:title', content='Get Stoned')
  meta(property='og:site_name', content='Stoned Audio')
  meta(property='og:url', content='https://stoned.audio')
  meta(property='og:description', content='The era of wires is over. We might have lost the wires and all the hassle they brought, but we kept what\'s important: the radiant sound.')
  meta(property='og:type', content='product')
  meta(property='og:locale', content='en_US')
  meta(property='og:image', content='https://stoned.audio/img/fbshare.jpg')

  head
    title Stoned Audio
    link(rel='stylesheet', href='css/app.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,700italic,900', type='text/css')

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#33edc1")
    meta(name="theme-color", content="#ffffff")

    block style

    <!--[if lt IE 9]>
    script(src='js/polyfill/html5-shiv.js')
    <![endif]-->

  body(style='overflow:hidden')
    // Header
    header
      nav
        // ul
        //   li
        //     a(href='#') Product
        //   li
        //     a(href='#') Our Story
        //   li
        //     a(href='#') User Stories
        //   li
        //     a(href='#') Specs
        // |
        a#home(href='/')
          img.logo(src='./img/logo.png', alt='Stoned Audio Logo')
        a#preorder.button.call-to-action(href='#cta')
          // | PRE-ORDER
          | RESERVE
          span.extra &nbsp;NOW

    block content

    block signup
      section#getnews(data-lazy='img/lovethemlow.jpg')
        .content
          // h1 Get the latest news.
          // p Sign up for our newsletter to stay up to date.

          h1
            | Get
            img(src='./img/logo.png', alt='Stoned Audio Logo')
            | first.
          p
            | Stay in the loop and get <em>your</em>
            strong.emphasis &nbsp;Stoned Earphones&nbsp;
            | first.
            br
            | Get updates, discounts and exclusive offers.

          form#call-to-action
            script(src='//c.vifijo.com/m/zAuKWJGhqreW1/mailinglist.js')
            input(id='email', name='email', placeholder='YOUR E-MAIL')
            button(type='submit') SIGN&nbsp;UP
            .error

    footer
      nav
        ul
          // li
          //   a(href='about') ABOUT
          // li
          //   a(href='press') PRESS
          // li
          //   a(href='faq') FAQ
          li
            a#home(href='/') HOME
          li
            | |
          li
            a#privacy(href='privacy') PRIVACY POLICY
      nav
        ul
          li
            a#social-facebook(href='https://www.facebook.com/StonedHQ', target='_blank')
              i.fa.fa-facebook-square
          li
            a#social-twitter(href='https://twitter.com/StonedHQ', target='_blank')
              i.fa.fa-twitter
          li
            a#social-instagram(href='http://instagram.com/StonedHQ/', target='_blank')
              i.fa.fa-instagram
      a#home(href='#')
        img.logo(src='./img/logo.png', alt='Stoned Audio Logo')
      small.copyright &copy; Stoned Audio, LLC 2016
    // .loader

    <!--[if IE]>
    .browserupgrade
    p
      | You are using an strong outdated  browser. Please
      | a(href='http://browsehappy.com/') upgrade your browser to improve
      | your experience and security.
    <![endif]-->

    <!--[if lt IE 9]>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\\/script>')
    script(src='js/polyfill/ie-love.js')
    <![endif]-->

    <!--[if gt IE 8]><!-->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-3.1.0.min.js"><\\/script>')
    <!--<![endif]-->

    script(src='js/app.js')
    script.
      !function(t,e,a){var r,n,c,i,o,s,l,u;if(null==t.analytics){for(r=[],r.methods=["ab","alias","group","identify","off","on","once","page","pageview","ready","track","trackClick","trackForm","trackLink","trackSubmit"],l=r.methods,c=function(t){r[t]=function(){var e;return e=Array.prototype.slice.call(arguments),e.unshift(t),r.push(e),r}},i=0,o=l.length;o>i;i++)s=l[i],c(s);return u=e.createElement("script"),u.async=!0,u.type="text/javascript",u.src=a,n=e.getElementsByTagName("script")[0],n.parentNode.insertBefore(u,n),t.analytics=r}}(window,document,"//c.vifijo.com/a/4NTxXlQrtb.js");
    script.
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0057/6651.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);

    block script
