doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='msapplication-tap-highlight' content='no')

    title
      block title
        | #{site.title}

    meta(name='description', content=meta.description)

    // Facebook
    meta(property='og:title', content=meta.facebook.title)
    meta(property='og:description', content=meta.facebook.description)
    meta(property='og:site_name', content=site.name)
    meta(property='og:url', content=site.url)
    meta(property='og:type', content='product')
    meta(property='og:locale', content='en_US')
    meta(property='og:image', content=meta.facebook.image)
    meta(property='fb:app_id', content=meta.facebook.appid)

    // Twitter
    meta(name='twitter:title', content=meta.twitter.title)
    meta(name='twitter:description', content=meta.twitter.description)
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content=social.twitter.username)
    meta(name='twitter:image', content=meta.twitter.image)
    meta(name='twitter:url', content=site.url)

    link(rel='stylesheet', href='css/app.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,700italic,900', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css', type='text/css')

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#33edc1")
    meta(name="theme-color", content="#ffffff")

    block style

    block headscript
    <!--[if lt IE 10]>
    script(src='/js/polyfill/html5-shiv.js')
    <![endif]-->

  body(style='overflow:hidden')
    // Header
    block preheader

    input#open-menu.menu-state(type='checkbox')
    input#open-cart.menu-state(type='checkbox')
    block header
      header
        nav
          // ul
          //   li
          //     a(href='#') Product
          //   li
          //     a(href='#') Our Story
          //   li
          //     a(href='#') User Stories
          //   li
          //     a(href='#') Specs
          // |
          a#home(href='/')
            img.logo(src='/img/logo.png', alt=site.name)
          label.menu-button(for='open-menu')
            | &#8801;
          block cart-button
            label.cart-button(for='open-cart')
              cart
                .cart-button-counter(class='{ nonzero: count() > 0 }')
                  | { count() }
            a.pre-order-button.button(href='#')
              span GET STONED
    menu
      ul
        li
          a(href='/') HOME
        li
          a(href='/earbuds') EARBUDS
        li
          a(href='/faq') FAQ
        li
          a(href='/press') PRESS
        li
          a(href='/referral') REFERRAL PROGRAM
        li
          a(href='/returns') RETURNS & WARRANTY
        li
          a(href='/reviews') REVIEWS
        li
          a(href='/contact') CONTACT US
        li
          a(href='/privacy') PRIVACY
        li
          a(href='/terms') TERMS
        li
          hr
        block account-menu-side
          li
            a(href='/login') LOG IN
          li
            a(href='/signup') SIGN UP
        li.logo
          a(href='/')
            img(src='/img/diamond-logo.svg')
      label.close-menu(for='open-menu')
        | &#10005;

    cart
      h1(if='{ !isEmpty() }')
        | Your Cart
      h1(if='{ isEmpty() }')
        | Your Cart Is Empty
      label.close-cart(for='open-cart')
        | &#10005;
      lineitems(if='{ !isEmpty() }')
        .animated.slideInRight
          .product-image-container
            include _cart-images.pug
          .product-text-container
            span.product-description
              span.product-name { data.get('productName') }
              p { data.get('description') }
          span.product-quantity-container.locked(if="{ data.get('locked') }")
            | { data.get('quantity') }
          span.product-quantity-container(if="{ !data.get('locked') }")
            quantity-select-control
          .product-delete(onclick="{ delete }")
            | Remove
          .product-price-container.invoice-amount
            .product-price
              | { renderCurrency(parentData.get('currency'), data.get().price * data.get().quantity) } { parentData.get('currency').toUpperCase() }
            .product-list-price.invoice-amount(if='{ data.get().listPrice > data.get().price }')
              | { renderCurrency(parentData.get('currency'), data.get().listPrice * data.get().quantity) } { parentData.get('currency').toUpperCase() }
      div(if='{ !isEmpty() }')
        .invoice-line.invoice-total
          .invoice-label
            | Subtotal
          .invoice-amount
            | { renderCurrency(data.get('order.currency'), data.get('order.subtotal'))} { data.get('order.currency').toUpperCase() }

        a.button.submit(href='/checkout')
          | Checkout

      div(if='{ isEmpty() }')
        a.button.submit(href='/')
          | Continue Shopping

    main
      block content

    block signup
      section#getnews(data-lazy='/img/lovethemlow.jpg')
        .content
          // h1 Get the latest news.
          // p Sign up for our newsletter to stay up to date.

          h1 Stay Stoned
          p
            | Stay in the loop with the latest updates, discounts and
            exclusive offers.

          form#call-to-action.email-form
            script(src='//api.hanzo.io/mailinglist/zAuKWJGhqreW1/js')
            input(id='email', name='email', placeholder='YOUR E-MAIL')
            button(type='submit') SIGN&nbsp;UP
            .error

    .backordered-modal.modal.hidden.scrolling-modal.earbuds
      .modal-close
        h1 &#10005;

      .backordered.popup.animated.fadeInUp
        .popup-image(data-lazy='/img/charging-case.png')
        .popup-text
          h2 Due to high demand, Stoned Earbuds are backordered.
          p
            | Sign up to get notified when they are available again.
          form.email-form
            script(src='//api.hanzo.io/mailinglist/zAuKWJGhqreW1/js')
            input(id='email', name='email', placeholder='YOUR E-MAIL')
            button(type='submit') SIGN&nbsp;UP
            .error

    .backordered-modal.modal.hidden.scrolling-modal.shirts
      .modal-close
        h1 &#10005;

      .backordered.popup.animated.fadeInUp
        .popup-image(data-lazy='/img/products/shirt-male.jpg')
        .popup-text
          h2 Due to high demand, Stoned Shirts are backordered.
          p
            | Sign up to get notified when they are available again.
          form.email-form
            script(src='//api.hanzo.io/mailinglist/zAuKWJGhqreW1/js')
            input(id='email', name='email', placeholder='YOUR E-MAIL')
            button(type='submit') SIGN&nbsp;UP
            .error

    footer
      nav.links
        ul
          // li
          //   a(href='/about') ABOUT
          // li
          //   a(href='/press') PRESS
          // li
          //   a(href='/faq') FAQ
          li
            strong About Us
          li
            a(href='/') Home
          li
            a(href='/earbuds') Earbuds
          li
            a(href='/reviews') Reviews
          li
            a(href='/press') Press
          li
            a(href='/referral') Referral Program
        ul
          li
            strong Help
          li
            a(href='/faq') FAQ
          li
            a(href='/returns') Returns & Warranty
          li
            a(href='/privacy') Privacy
          li
            a(href='/terms') Terms
          li
            a(href='/contact') Contact Us
        ul
          li
            strong Account
          li
            a(href='/login') Log In
          li
            a(href='/signup') Sign Up
      nav.social
        ul
          li
            a#social-facebook(href='https://www.facebook.com/StonedHQ', target='_blank')
              i.fa.fa-facebook-square
          li
            a#social-twitter(href='https://twitter.com/StonedHQ', target='_blank')
              i.fa.fa-twitter
          li
            a#social-instagram(href='http://instagram.com/StonedHQ/', target='_blank')
              i.fa.fa-instagram
          li
            a#social-medium(href='https://medium.com/@stonedhq', target='_blank')
              i.fa.fa-medium
          li
            a#social-soundcloud(href='https://soundcloud.com/stonedhq', target='_blank')
              i.fa.fa-soundcloud

      a(href='#')
        img.logo(src='/img/logo.png', alt=site.name)
      small.copyright= site.copyright
    // .loader

    include _checkout.pug

    <!--[if IE]>
    .browserupgrade
    p
      | You are using an strong outdated  browser. Please
      | a(href='http://browsehappy.com/') upgrade your browser to improve
      | your experience and security.
    <![endif]-->

    <!--[if lt IE 10]>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.4.min.js"><\\/script>')
    script(src='/js/polyfill/ie-love.js')
    <![endif]-->

    <!--[if gt IE 9]><!-->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery-3.1.0.min.js"><\\/script>')
    <!--<![endif]-->

    block script

    script(src='/js/app.js')

    // script(type="text/javascript", src="//cdn.reamaze.com/assets/reamaze.js")
    // script(type="text/javascript").
    //   var _support = _support || { 'ui': {}, 'user': {} };
    //   _support['account'] = 'stoned';
    //   _support['ui']['widget'] = {
    //     color: 'rgb(60, 243, 182)',
    //     icon: 'help',
    //     size: 40,
    //     label: {
    //       text: 'Ask us anything',
    //       delay: 3,
    //       duration: 30,
    //     }
    //   };

    if production
      script.
        !function(t,e,a){var r,n,c,i,o,s,l,u;if(null==t.analytics){for(r=[],r.methods=["ab","alias","group","identify","off","on","once","page","pageview","ready","track","trackClick","trackForm","trackLink","trackSubmit"],l=r.methods,c=function(t){r[t]=function(){var e;return e=Array.prototype.slice.call(arguments),e.unshift(t),r.push(e),r}},i=0,o=l.length;o>i;i++)s=l[i],c(s);return u=e.createElement("script"),u.async=!0,u.type="text/javascript",u.src=a,n=e.getElementsByTagName("script")[0],n.parentNode.insertBefore(u,n),t.analytics=r}}(window,document,"//cdn.hanzo.io/a/4NTxXlQrtb.js");
      // script.
      //   !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      //   },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      //   a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      //   twq('init','nvqog');
      //   twq('track','PageView');
      // script(src='//cdn.ravenjs.com/3.8.1/raven.min.js')
      // script.
      //   Raven.config('//837350fb355a433ca68a1f6a298e70af@sentry.io/116363').install()
