doctype html
html(lang='en')
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(name='description', content='')

  // Twitter Summary Card
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@StonedAudio')
  meta(name='twitter:title', content='Get Stoned')
  meta(name='twitter:description', content='Crystal clear audio without any wires.')
  meta(name='twitter:image', content='https://stoned.audio/img/twittershare.jpg')
  meta(name='twitter:url', content='https://stoned.audio')

  // Facebook
  meta(property='og:title', content='Get Stoned')
  meta(property='og:site_name', content='Stoned Audio')
  meta(property='og:url', content='https://stoned.audio')
  meta(property='og:description', content='The era of wires is over. Wireless is the new black and Stoned Audio is truly embracing it. We might have lost the wires and all the hassle they brought, but we kept what\'s important: the radiant sound.')
  meta(property='og:type', content='product')
  meta(property='og:locale', content='en_US')
  meta(property='og:image', content='https://stoned.audio/img/fbshare.jpg')

  head
    title Stoned Audio
    link(rel='stylesheet', href='css/app.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,700italic,900', type='text/css')

    block style

    <!--[if lt IE 9]>
    script(src='js/polyfill/html5-shiv.js')
    <![endif]-->

  body(style='overflow:hidden')
    // Header
    header
      nav
        // ul
        //   li
        //     a(href='#') Product
        //   li
        //     a(href='#') Our Story
        //   li
        //     a(href='#') User Stories
        //   li
        //     a(href='#') Specs
        // |
        a(href='/')
          img.logo(src='./img/logo.png', alt='Stoned Audio Logo')
        a.button.call-to-action(href='#cta')
          // | PRE-ORDER
          | RESERVE
          span.extra &nbsp;NOW

    block content

    section#getnews(data-lazy='img/lovethemlow.jpg')
      .content
        // h1 Get the latest news.
        // p Sign up for our newsletter to stay up to date.

        h1 Claim your spot on the waiting list now.
        p
          | Be the first to know when
          // | Stoned
          img(src='./img/logo.png', alt='Stoned Audio Logo')
          | is available.
          | Then get bonus discounts, special offers, and the latest updates and with our newsletter.

        form#call-to-action
          script(src='//api.crowdstart.com/mailinglist/zAuKWJGhqreW1/js')
          input(id='email', name='email', placeholder='YOUR E-MAIL')
          button(type='submit') SIGN&nbsp;UP
          .error

    footer
      nav
        ul
          // li
          //   a(href='about') ABOUT
          // li
          //   a(href='press') PRESS
          // li
          //   a(href='faq') FAQ
          li
            a(href='/') HOME
          li
            | |
          li
            a(href='privacy') PRIVACY POLICY
      nav
        ul
          li
            a(href='https://www.facebook.com/StonedEarbuds', target='_blank')
              i.fa.fa-facebook-square
          li
            a(href='http://instagram.com/stonedaudio/', target='_blank')
              i.fa.fa-instagram
          li
            a(href='https://twitter.com/stoned_audio', target='_blank')
              i.fa.fa-twitter
      a(href='#')
        img.logo(src='./img/logo.png', alt='Stoned Audio Logo')
      small.copyright &copy; Stoned Audio, LLC 2016
    // .loader

    <!--[if IE]>
    .browserupgrade
    p
      | You are using an strong outdated  browser. Please
      | a(href='http://browsehappy.com/') upgrade your browser to improve
      | your experience and security.
    <![endif]-->

    <!--[if lt IE 9]>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\\/script>')
    script(src='js/polyfill/ie-love.js')
    <![endif]-->

    <!--[if gt IE 8]><!-->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-3.1.0.min.js"><\\/script>')
    <!--<![endif]-->

    script(src='js/app.js')
    script
      | !function(t,e,a){var r,n,c,i,o,s,l,u;if(null==t.analytics){for(r=[],r.methods=["ab","alias","group","identify","off","on","once","page","pageview","ready","track","trackClick","trackForm","trackLink","trackSubmit"],l=r.methods,c=function(t){r[t]=function(){var e;return e=Array.prototype.slice.call(arguments),e.unshift(t),r.push(e),r}},i=0,o=l.length;o>i;i++)s=l[i],c(s);return u=e.createElement("script"),u.async=!0,u.type="text/javascript",u.src=a,n=e.getElementsByTagName("script")[0],n.parentNode.insertBefore(u,n),t.analytics=r}}(window,document,"//cdn.crowdstart.com/a/stoned.js");

    block script
