extends _layout.pug

block title
  | #{site.title} - Contact

block content
  #page-contact.page
    section.hero.short
      .content
        h1
          | Contact Us

    include _progress.pug

    section.body
      .content
        p
          | You can contact us by sending an email to
          a(href='#{contact.email}') &nbsp;#{contact.email}&nbsp;
          | or filling out the form below:
        div(data-reamaze-embed='contact',data-reamaze-embed-subject='false')

      .content
        div
          h2 Media Contact
          p
            a(href='#{press.email}') #{press.email}
            br
            | #{press.phone}

        div
          h2 Other Inquiries
          p
            a(href='#{contact.email}') #{contact.email}
            br
            | #{contact.phone}

      .map-container
        .map
        .map-pointer
          .header
            h2 Stoned HQ
          .content
            .content-row
              i(class='fa fa-building',aria-hidden='true')
              p
                | 405 Southwest Boulevard
                br
                | Suite 200
                br
                | Kansas City, MO 64108
                br
                | United States of America
            .content-row
              i(class='fa fa-phone',aria-hidden='true')
              p
                | #{contact.phone}
            .content-row
              i(class='fa fa-envelope-open',aria-hidden='true')
              p
                a(href='#{contact.email}') #{contact.email}

block script
  script(src='//maps.google.com/maps/api/js?key=AIzaSyCZor292Xz2wcKdUqJnfbmXgWZ5JNgX4kM')

block signup
