extends _layout.pug

block content
  #page-contact.page
    section.hero.short
      .content
        h1
          | Did you want to say hello?

    include _progress.pug

    section.body
      .content
        div
          h2 Media Contact
          p.
            #{press.name}
            #{press.email}
            #{press.phone}

        div
          h2 Other Inquiries
          p.
            #{contact.email}
            #{contact.phone}

block signup
