extends _layout.pug

block title
  | #{site.title} - Get Stoned

block content
  section#index-hero.hero.parallax.video
    // (data-src='https://www.youtube.com/embed/WeYsTmIzjkw')
    .foreground.product(data-ratio='-60')
      img.animated.fadeInUp(src='img/index-hero.png')
    // .call-to-action.watch.button
      // a.play(href='#')
      // h3 WATCH&nbsp;VIDEO
    .content
      h1 Gems for your ears
      p $129 with #[strong FREE] shipping worldwide for a limited time
      br
      a.pre-order-button.button(href='/store')
        h3 BUY NOW
      .share-coupon-button.modal-open.button(data-modal-selector='.share-coupon-modal')
        h3 SAVE $15

    a#scroll-down.button.summary-down.next-section(href='#')
      img(src='img/down-icon.svg')
    // .video-modal.modal.hidden
    //   iframe(width='100%', height='100%', src='', frameborder='0', allowfullscreen)
    //   .modal-close.modal-close-position
    //     | &#10005;

    .share-coupon-modal.modal.hidden.scrolling-modal
      .modal-close
        h1 &#10005;

      .share-coupon.animated.fadeInUp
        .share-coupon-image(data-lazy='/img/onpage-coupon.jpeg')
        .share-coupon-text
          h2 Tell your friends to get Stoned
          p.
            Share why you are getting Stoned today and receive a <strong> $15
            coupon </strong> for your next pair of Stoned Earphones.
          .share-coupon-buttons
            a.share-coupon-button-for.facebook(href=social.facebook.shareLink, target='_blank')
              i.fa.fa-facebook
              span Share on Facebook
            a.share-coupon-button-for.twitter(href=social.twitter.shareLink, target='_blank')
              i.fa.fa-twitter
              span Share on Twitter
            a.share-coupon-button-for.googleplus(href=social.googlePlus.shareLink, target='_blank')
              i.fa.fa-google-plus
              span Share on Google+
            a.share-coupon-button-for.pinterest(href=social.pinterest.shareLink, target='_blank')
              i.fa.fa-pinterest-p
              span Share on Pinterest
        .share-coupon-text.finished
          h2 Thanks for doing that!
          p.
            Use the coupon
            <strong> STONEDFRIENDS </strong>
            to save
            <strong> $15 </strong>
            on your next pair of Stoned Earphones.
          .pre-order-button.button
            h3 GET STONED

  include _progress.pug

  section.press-strip(data-skip='true')
    .content
      div(style='background-image: url(img/press-strip/kcstar.png)')
      div(style='background-image: url(img/press-strip/abc.png)')
      div(style='background-image: url(img/press-strip/cbs.png)')
      div(style='background-image: url(img/press-strip/fox.png); height: 50px; margin-top: 35px;')
      div(style='background-image: url(img/press-strip/nbc.png); height: 56px; margin-top: 32px;')
      div(style='background-image: url(img/press-strip/yahoofinance.png)')

  section#earphones.full.list.right
    h2 INTRODUCING
    .image(data-lazy='img/charging-case2.png')
    .info
      h1 Stoned Earbuds
      p
        | Huge sound, noise isolation, in-ear mic, charging case, intuitive controls and zero wires.
      ul
        li
          div
            img(data-lazy='img/icons/microphone-light.svg')
          div HD MICROPHONE
        li
          div
            img(data-lazy='img/icons/range2-light.svg')
          div 10 METER RANGE
        li
          div
            img(data-lazy='img/icons/freq-light.svg')
          div 20-20,000&nbsp;HZ FREQUENCY
        li
          div
            img(data-lazy='img/icons/bluetooth-light.svg')
          div BLUETOOTH 4.2
      a.pre-order-button.button(href='/tech')
        h3 DISCOVER STONED

  section#shirts.full
    .shirt
      .text
        h1 Black Tee
        p Add words, zach
        br
        a.pre-order-button.button(href='/store')
          h3 BUY NOW
      .image.animated.fadeInUp
        .bounded-image(data-lazy='img/products/shirt-men-black.png')
    .shirt
      .image.animated.fadeInUp
        .bounded-image(data-lazy='img/products/shirt-women-white.png')
      .text
        h1 White Tee
        p Add more words, zach
        br
        a.pre-order-button.button(href='/store')
          h3 BUY NOW

  section#app.full(data-lazy='img/lovethem2low.jpg')
    .content
      h1 Your phone will love them
      p
        | The built-in HD microphone and active noise cancellation ensures
        | you'll be heard loud and clear on calls.
      p
        | And with our iOS and Android app, you'll be able to configure EQ,
        | bass boost and more. #[strong Coming soon!]
      ul.applinks
        li
          a(href='/app', target='_blank')
            img(data-lazy='img/appstore.png')
        li
          a(href='/app', target='_blank')
            img(data-lazy='img/androidstore.png')

  section#stoned-instagram
    h1 See how others rock
    #instafeed

