extends _layout.pug

block title
  | #{site.title} - Privacy Policy

block content
  #page-privacy.page
    section.hero.short
      .content
        h1 Referral Program Terms and Conditions

    include _progress.pug

    section.body
      .content
        span.date Last Update: December 2016
        p.
          These Referral Program Terms and Conditions ("Referral Terms") set
          forth the terms and conditions for your participation in our referral
          program ("Referral Program") and are hereby incorporated by
          reference into our Terms of Use.
        h2.
          1. ACCEPTANCE OF THE TERMS
        p.
          By participating in the Referral Program in any way, you agree to be
          bound by these Referral Terms. If you do not agree to all of the
          terms and conditions of these Referral Terms, you may not participate
          in the Referral Program. We may revise these Referral Terms from time
          to time in our sole discretion, subject to applicable law. When we
          revise these Referral Terms, we will post the revised version on the
          Website. You are free to decide whether or not to accept a revised
          version of these Referral Terms, but accepting these Referral Terms,
          as revised, is required for you to continue participating in the
          Referral Program. If you do not agree to these Referral Terms or any
          revised version of these Referral Terms, your sole recourse is to
          terminate your participation in the Referral Program. Except as
          otherwise expressly stated by us, your participation in the Referral
          Program is subject to, and constitutes your acceptance of, the
          version of these Referral Terms in effect at the time of your
          participation in the Referral Program.
        h2.
          2. ELIGIBILITY
        p.
          In order to participate in the Referral Program, you must accept and agree to
          our Terms of Use, including these Referral Terms and our Privacy Policy, and
          have and maintain an account in good standing.
        h2.
          3. EARNING REWARDS
        p.
          When you register for an account, we will provide you with a
          hyperlink that contains a unique referral ID associated with your
          account (a "Referral Link"). You may use this Referral Link on
          social media or other venues owned by you to refer friends and
          audiences to the #{site.title} website. You may not use paid
          advertising (such as Google Adwords, Facebook Ads, or Bing) to
          promote your Referral Link.  You also may not promote your Referral
          Link on sites owned by someone else (such as Wikipedia or coupon
          websites).
        h2.
          4. RESTRICTIONS AND LIMITATIONS
        p.
          Actions taken by your friends and audiences on the #{site.title}
          website can earn you points, which in turn entitle you to rewards, as
          defined by the progress on your account page.  Please check your
          account page for the current ways to earn points, and current
          rewards.  All actions taken to earn points must be bona fide.
          Transactions must be initiated without intention to refund, defraud,
          or otherwise damage either your friends and audiences or
          #{site.title}.  Data provided must be accurate and not violate our
          Privacy Policy or applicable law.  More specific terms regarding what
          constitutes bona fide actions may be found on the account page (if
          available).  #{site.title} has sole final discretion on whether or
          not a specific action or set of actions is bona fide and therefore
          qualifies to receive a reward. We reserve the right to investigate
          any suspicious or inappropriate activity relating to the Referral
          Program, and to assign any account found to be conducting any such
          activity appropriate penalties or restrictions.
        h2.
          5. NON-EXCLUSIVE
        p.
          The Referral Program is non-exclusive. You acknowledge and agree that we may,
          at any time, solicit customer referrals via any method in our sole discretion.
        h2.
          6. TERMINATION OR SUSPENSION OF REFERRAL PROGRAM
        p.
          You may stop participating in the Referral Program at any time
          ceasing to use your Referral Link. We may, at our sole discretion,
          suspend, limit, or terminate the Referral Program and terminate these
          Referral Terms and Conditions for any reason at any time by providing
          notice to you (including notice via email at the email address we
          have for you in our records). Termination of the Referral Program and
          these Referral Terms will not automatically result in the termination
          of our Terms of Use or your account, unless otherwise specified by
          us. However, termination of our Terms of Use or closure of your
          account will result in the automatic termination of your
          participation in the Referral Program and termination of these
          Referral Terms. Upon termination of these Referral Terms, you must
          immediately cease all use of Referral Links, and Referral Rewards
          earned but unpaid as of the date of termination will remain earned,
          unless we terminate these Referral Terms for your breach of these
          Referral Terms or our Terms of Use. Provisions of these Referral
          Terms that, by their nature, should survive termination of these
          Referral Terms will survive termination of these Referral Terms.
        h2.
          7. CONTACT US
        p.
          If you have any questions, comments, or concerns regarding these
          Referral Terms or the Referral Program, please contact us at
          #{legal.email}.
