extends _layout.pug

block title
  | #{site.title} - Terms and Conditions

block content
  #page-terms.page
    section.hero.short
      .content
        h1 Terms and Conditions

    include _progress.pug

    section.body
      .content
        span.date Last Update: November 2016
        h2 Introduction
        p.
          We at #{legal.name}. ("We", "Us", “Our”) welcome you to use the
          Stoned services (the "Services"), available through the Stoned
          website #{site.name} (the "Website") and the Stoned
          mobile application (the "Application"). The Services provide access
          to Our highest quality audio hardware (“Products”), while the
          Application provides fine-grained access to that hardware.
        p.
          These terms of use (collectively the "Terms") set forth the legally
          binding terms and conditions which are applicable to your use of the
          Service. Please be reminded that the Terms constitute an agreement
          between you and us and define the rights and responsibilities that
          you have with respect to the Service. Therefore, we encourage you to
          carefully familiarize yourself with the Terms. By registering with
          the Service, purchasing Our Products, clicking an "I accept" or
          similar button, installing, accessing or using the Application you
          confirm that you have read and understood the Terms and any other
          documents referred to herein, including without limitation our
          Privacy Policy, and that you agree to be bound by this agreement. You
          represent and warrant that you have the right, authority and capacity
          to accept these Terms and to abide by them and that you have fully
          read and understood the Terms without any impairment in judgment
          resulting from (but not limited to) mental illness, intoxication,
          medication, or any other health or other problem that could impair
          judgment. Your use of the Service constitutes your acceptance of the
          Terms. Consequently, if you do not accept or understand the Terms,
          please do not use, access or register with the Service (including any
          software or application forming part of the Service or Application
          thereof). If your agreement to these Terms is required in connection
          with or after the installation process of any software or application
          forming part of the Service, and you do not agree to these Terms, you
          are not entitled to use the respective software or the Application,
          in which case you must promptly uninstall and delete all copies
          thereof.
        p.
          From time to time, we may modify or amend the Terms. If we do so, we
          will post any such modifications or changes in the Service. If you
          continue to use the Service following such a posting, you accept any
          such change or modification.
        p.
          We wish to remind you that you are solely responsible for any
          material or content that you post on Application, regardless of the
          manner in which you post it. Similarly, your use of, or reliance on,
          any material or content posted in the Service is at your own risk.
        p.
          You acknowledge and agree that you are solely responsible for any
          content that you post and any and all activity that occurs under your
          account (even if such content is posted by someone else using your
          account), and that you have all rights necessary to upload all
          content uploaded to the Service through your account ("Your
          Content"). You further acknowledge and agree that Your Content and
          your other activities in connection with the Service do not, and will
          not, violate, infringe, or misappropriate any third party's
          intellectual property right, right of privacy or publicity, or other
          personal or proprietary right, nor does Your Content contain any
          matter that is defamatory, obscene, unlawful, threatening, abusive,
          tortious, offensive or harassing.
        p.
          We will not, under any circumstance, be liable in any way for any
          content, including, but not limited to, any errors or omissions in
          any material or content, or any loss or damage of any kind that you
          incur as a result of your use of, or your acting in reliance on, any
          material or content posted, e-mailed, transmitted, or otherwise made
          available in the Service.
        p.
          We may, but have no obligation to: Monitor or moderate any material
          or content posted in the Service; Remove any material or content from
          the Service; and Restrict access to any part of the Service at any
          time in our sole discretion and without advance notice.

        h2 Eligibility; Registration; Pricing, Payment, Renewal, Cancellation

        p.
          These Terms govern the use of the Service. By using the Service, you
          accept these Terms. You must be at least eighteen (18) years of age
          to use the Service. Moreover, you represent and warrant that you will
          use the Service in compliance with any and all applicable laws and
          regulations. Use of the Service is unauthorized in any jurisdiction
          where the Service or any part of it may violate any laws or
          regulations. You agree not to access or use the Service in such
          jurisdictions.
        p.
          You agree to use the features of the Application in conjunction with
          the Product only as directed by the Instructions for each Product,
          which are accessible in the "Instructions and Terms of Use" section
          of the Application.
        p.
          The certain parts of the Service require registration, for which you
          must provide the required registration information, including a
          username and a password. We reserve the right to deny a user the
          ability to create a profile if the registration information provided
          is incomplete or otherwise inadequate. Usernames and passwords are
          user-specific and should not be given to third parties. You are
          responsible for the use of the Service with your user account. You
          must protect any passwords or other credentials associated with your
          account for the Service, and take full responsibility for any use of
          the account under your password. If your username or password becomes
          compromised, you must inform us of this as soon as possible in order
          to limit your liability.
        p.
          Your right to use the Service is personal to you, and each individual
          is only allowed to create one account in the Service. You agree to
          register only once and not to create duplicate accounts. You cannot
          transfer, assign or share your registration.
        p.
          By ordering any Products through the Website, you agree to pay us all
          the charges associated with you. You also authorize us to charge you
          for any sales or similar taxes that may be imposed on your charges.
          These will be charged from you and payment will become due at the
          time of your purchase, and you authorize us to charge you using the
          payment method(s) available in the Service (the "Designated Payment
          Method"). A binding agreement occurs when we have accepted your
          order by delivering to you an order confirmation by email or text
          message.
        p.
          You agree and acknowledge that we may correct any billing errors or
          mistakes that we may have made even if we have already requested or
          received payment from you. The terms of your payment will be based on
          your Designated Payment Method and may be determined by agreements
          between you and the financial institution, credit card issuer or
          other provider of the Designated Payment Method.

        h2 Delivery
        p.
          We may not be able to deliver to all locations. If we do not ship to
          an address provided, you will be sent a notice and not charged for
          your order.  If we fail to deliver to an address due to incomplete or
          incorrect delivery information, the product will be returned to us.
          In this case, you will not be charged for the product (or, charges
          already billed will be reversed using the initial payment method),
          but you may be charged for shipping (which will not be reversed).

          If you receive notification of shipping, but do not receive your
          product in a timely manner, please contact us at #{contact.email}.

          Any delivery dates or times given by us or our agents are estimates
          and are not guaranteed unless explicitly stated otherwise.

        h2 Intellectual Property
        p.
          These Terms confer only the right to use the Service while these
          Terms and the specified license(s) are in effect, and they do not
          convey any rights of ownership in or to the Service. All right, title
          and interest, including without limitation any copyright, patent,
          trade secret or other intellectual property right in the Service
          ("Our Content") will remain our sole property. Any services provided
          to you under these Terms, and other data or materials that are
          prepared in the performance of such services hereunder, and all
          right, title and interest in the foregoing, will belong to us.

        h2 License Terms
        p.
          Subject to your compliance with these Terms, we grant you a limited,
          non-exclusive, revocable and non-assignable license, without the
          right to sublicense, to download and install a copy of the
          Application onto any authorized device you own and control, and to
          use such copy of the Application solely for your personal,
          non-commercial use. We reserve all rights in the Application not
          expressly granted to you in these Terms.
        p.
          The copy of the Application is licensed, not sold, to you. You agree
          that we and our licensors own all right, title and interest in and to
          the Application, including all intellectual property rights therein,
          and that we retain ownership of all copies of the Application even
          after installation on your device. You agree not to delete or in any
          manner alter the copyright, trademark or other proprietary rights
          notices or markings which may appear on the Application.
        p.
          Except as expressly specified in these Terms, you may not: (a) copy
          or modify, or create derivative works of the Application or the
          Service, including, without limitation, make adaptations or
          modifications to the Application or the Service; (b) sell, rent,
          lease, distribute, transfer, sublicense, lend or otherwise assign any
          rights to, or any part of, the Application or the Service to any
          third party; (c) make the Application or the Service available to
          multiple users by any means, including without limitation by
          uploading the Application or the Service to a file-sharing service or
          other type of hosting service or by otherwise making the Application
          or the Service available over a network where it could be used by
          multiple devices at the same time; (d) disassemble, decompile,
          reverse engineer, or attempt to derive the source code of the
          Application, in whole or in part, or permit or authorize a third
          party to do so, except to the extent such activities are expressly
          permitted by law. You agree to comply with any technical restrictions
          in the Application or the Service that allow you to use the
          Application or the Service only in certain ways.
        p.
          We are not obligated to maintain or support the Application or the
          Service, to provide all or any specific content through the
          Application or the Service, or to provide you with updates, upgrades
          or services related thereto. You acknowledge that we may from time to
          time in our sole discretion issue updates or upgrades to the
          Application or the Service, disable access to the Application or the
          Service for any period of time or permanently, and automatically
          update or upgrade the version of the Application that you are using
          on your device. You consent to such automatic updating or upgrading
          on your device, and agree that these Terms of Use will apply to all
          such updates or upgrades, unless such upgrade is accompanied by a
          separate license in which case the terms of that license will govern.
          You acknowledge and agree that we shall have no liability to you
          arising out of any unavailability of the Application or the Service.
        p.
          The license to the Application or the Service granted under these
          Terms remains in effect until terminated by you or us. You may
          terminate the license at any time by destroying all copies of the
          Application in your possession or control. Without prejudice to any
          other terms set forth in these Terms, the license will automatically
          terminate without notice from us if you in any way breach any
          provision of these Terms. Upon termination in accordance with these
          Terms for any reason, you must cease all use of the Application and
          promptly delete and destroy all copies, full or partial, of the
          Application. Your termination of the license for any reason shall not
          release you from any liabilities or obligations set forth in these
          Terms which (a) have expressly been stated as surviving any such
          termination or expiration, or (b) remain to be performed, or by their
          nature would be intended to be applicable following any such
          termination or expiration.
        p.
          You represent and warrant that you will not use or otherwise export
          or re-export the Application to a country that is subject to a U.S.
          Government embargo or to anyone on the U.S. Treasury Department's
          list of Specially Designated Nationals or the U.S. Department of
          Commerce Denied Person's List or Entity List. You also represent and
          warrant that you are not located in any such country or on any such
          list.

        h2 Copyright Infringement
        p.
          We respect the intellectual property rights of others. We will
          respond expeditiously to claims of copyright infringement using
          guidelines and procedures set forth in Section 512 of the Digital
          Millennium Copyright Act of 1998 ("DMCA"). If you see any material on
          the Service that in your good faith belief may infringe someone's
          copyright, you may notify us by e-mailing us at #{legalEmail} with
          "Copyright" in the subject line. In order for it to be effective,
          your notice, also known as a takedown notice, must include the
          following information:
          ul
            li The identity of the original copyrighted work that you claim is infringed or if your notice covers multiple copyrighted works you may provide a representative list of the copyrighted works that you claim have been infringed;
            li A sufficiently detailed description of the content on the Service that you claim infringes the copyrighted work;
            li Your contact information, including your full name, mailing address, telephone number, and email address, if available;
            li A statement that you believe in good faith that the use of the allegedly infringing content on the Service is not authorized by the copyright owner, its agent, or the law;
            li This statement: "I swear, under penalty of perjury, that the information in this notification and complaint is accurate and that I am the copyright owner, or am authorized to act on behalf of the copyright owner, of an exclusive right that is infringed"; and
            li A physical or electronic signature of the copyright holder or a person authorized to act on his or her behalf.
        p.
          Moreover, if you believe your work was erroneously removed due to an
          incorrect claim of copyright ownership, you may provide us a written
          counter notice. When we receive your counter notice, we may, in our
          discretion, reinstate the material in question in not fewer than 10
          nor more than 14 days after we receive the counter notice, unless we
          first receive notice from the original complaining party who filed
          the infringement notice that it has filed a legal action to restrain
          the allegedly infringing activity. To provide a counter notice to us,
          you may email us at #{legalEmail}. Please note that if you provide
          a counter notice, in accordance with the terms of the DMCA, the
          counter notice will be given to the original complaining party that
          filed the infringement notice. To be effective, a counter notice must
          contain substantially all of the following information:
          ul
            li Identification of the material that has been removed or to which access has been disabled in the Service and the location at which the material appeared before it was removed or access to it was disabled
            li Your name, address, telephone number and, if available, email address;
            li Include both of the following statements in the body of the Notice:
            li "I hereby state under penalty of perjury that I have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled."
            li "I hereby state that I consent to the jurisdiction of the Federal District Court for the judicial district in which my address is located or, if my address is outside of the United States, for any judicial district in which Stoned may be found, and I will accept service of process from the complaining party who notified Stoned of the alleged infringement or an agent of such person.
            li Provide your full legal name and your electronic or physical signature.

        h2 Order Limits
        p.
          We may, at our discretion, impose limits on the maximum number of
          products you can order. You agree not to order more than this limit,
          and agree not to attempt to circumvent this limit.

        h2 Incorrect prices
        p.
          We take all pains to ensure correct information everywhere on the
          site, especially the prices on our store. However, if a mistake
          happens, you agree that #{site.title} will not be bound by any
          incorrect price, and that we may, at our discretion, cancel the
          order.

        h2 Import and Export
        p.
          Our products may be subject to United States import and export laws.
          You must comply with all applicable laws regarding import and export
          in connection to our products. This may include, but are not
          necessarily limited to, destinations, users, and end use.

        h2 Resale and Gifts
        p.
          You may only purchase products through this website for your own
          personal use, or to gift to another for their personal use. These
          Terms apply to any gift recipient. Contact us at #{contact.email} if
          you are interested in reselling in a retail space.

        h2 User Postings
        p.
          You are solely responsible for Your Content, both on the Website and
          Our related social media. You will not post, or transmit to other
          users of the Service, any defamatory, inaccurate, abusive, obscene,
          profane, offensive, sexually oriented, threatening, harassing,
          racially offensive, or illegal material, or any material that
          infringes or violates another party's rights (including, but not
          limited to, intellectual property rights, and rights of privacy and
          publicity). You will not provide inaccurate, misleading or false
          information to us or to any other registered user of the Service. If
          information provided to us, or another registered user of the
          Service, subsequently becomes inaccurate, misleading or false, you
          will promptly notify us of such change.
        p.
          We may, but have no obligation to, in our sole discretion and without
          notice, review and delete any User Content.
        p.
          You acknowledge and agree that Your Content, whether publicly posted
          or privately transmitted to Us, is your sole responsibility. We
          disclaim any responsibility for the backup and/or retention of any of
          Your Content. If you transmit Your Content to Us, you understand and
          agree that Your Content may be reproduced, distributed, publicly
          performed and publicly displayed on the Service for the purpose of
          providing the Service.
        p.
          The following types of Your Content are examples of Your Content that
          is prohibited in the Service:
          ul
            li Your Content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual
            li Your Content that is harassing
            li "Junk mail," "chain letters," or "spam"
            li Your Content that promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous
            li Your Content that purports to solicit passwords or personal data for commercial or unlawful purposes from other registered users of the Service
            li Your Content of commercial nature without authorization from us.

        h2 Prohibited Activities
        p.
          You shall not, and shall not authorize any third party to: (i) submit
          any material which includes incorrect, incomplete or otherwise
          misleading information, or use of which would be illegal or would
          infringe third party rights, (ii) use any material in a way which
          could be regarded as deceptive marketing or marketing contrary to
          sound business practices, (iii) submit any material that contains any
          pornographic, hate-related or violent content, (iv) act in any way
          that violates these Terms, as may be revised from time to time by the
          Service, (v) engage in any action or practice that reflects poorly on
          the Service or otherwise disparages or devalues its reputation or
          goodwill, (vi) make features or functionalities of the Service
          available on any website which features illegal, infringing, or
          offensive information or content, which includes, but is not limited
          to, pornography, racism and hate content, adware, spyware, and file
          sharing, or (vii) create a new account to use the Service after we
          have terminated this agreement with you as a result of your violation
          of these Terms. You agree to notify us without undue delay of any
          known or suspected improper or wrongful use of the Service.
        p.
          We reserve the right, in our sole discretion, to remove data
          containing prohibited content and to terminate or suspend the rights
          of a submitter of such content to use the Service. Suspended or
          terminated users of the Service remain obligated to pay us for any
          and all unpaid fees or charges.

        h2 User/Customer Service
        p.
          You can email us at #{contact.email}. We are generally available
          during regular PST business hours.

        h2 Blocking of IP Addresses
        p.
          In order to ensure the integrity of the Service, we reserve the right
          at any time in our sole discretion to block users from certain IP
          addresses from accessing the Service.

        h2 Privacy and Security
        p.
          Your privacy and the protection of personal data about you are very
          important to us. For a detailed description of how we collect and use
          personal data about you, please see our Privacy Policy and
          familiarize yourself with the choices you can make about the way in
          which we collect and use personal data about you. In addition to what
          is stated in the Privacy Policy, you agree to:
          ul
            li Respect the privacy of other users
            li Not engage in unauthorized collection of users content or information, and/ or not otherwise access the Service by automated means (including, but not limited to, so-called bots or scrapers) without an authorization from us
            li Not reveal any personal data related to another individual, including, but not limited to, a person's address, phone number, e-mail address, credit card number or any information that may otherwise be used to track, contact or impersonate another individual
            li Not utilize a username that is the name of another person and intending to impersonate that person
            li Not provide any false personal data to us or create any user account for anyone other than yourself without such person's permission.
        p.
          Moreover, by using the Service, you consent and agree to the
          collection and use of certain information about you and your use of
          the Service in accordance with our Privacy Policy and applicable laws
          and regulations related to personal data.
        p.
          Please be reminded that you must protect any passwords or other
          credentials associated with your account for the Service, and take
          full responsibility for any use of the account under your password.

        h2 Privacy and Security
        p.
          The Service is Available "AS-IS" Your access to and use of the
          Service is at your own risk. You understand and agree that the
          Service is provided to you on an "AS IS" and "AS AVAILABLE" basis.
          Without limiting the foregoing, OUR AFFILIATES AND WE DISCLAIM ANY
          WARRANTIES, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A
          PARTICULAR PURPOSE, OR NON-INFRINGEMENT. We make no warranty and
          disclaim all responsibility and liability for the completeness,
          accuracy, availability, timeliness, security or reliability of the
          Service or any content thereon. We will not be responsible or liable
          for any harm to your computer system, loss of data, or other harm
          that results from your access to or use of the Service. Moreover,
          you agree that we do not have responsibility or liability for the
          deletion of, or the failure to store or to transmit, any material
          or content and other communications maintained in the Service. We
          make no warranty that the Service will meet your requirements or be
          available on an uninterrupted, secure, or error-free basis. No
          advice or information, whether oral or written, obtained from the
          Service or our representatives, will create any warranty not
          expressly made herein.

        h2 Links to Third Party Websites
        p.
          The Service may contain links to websites owned and/or operated by
          third parties. Such links are provided for informational purposes
          only. We are not responsible for any such third party websites and do
          not have control over any materials or content made available
          therein. Our inclusion of a link to a third party website in the
          Service does not in any way imply our endorsement, advertising, or
          promotion of such websites or any materials or content made available
          therein. By accessing a third-party website you accept that we do not
          exercise any control over such websites or their content. We have no
          responsibility for the content of any third-party website. We
          encourage you to familiarize yourself with the terms of service
          applicable to any third-party website you may access.

        h2 Events Beyond Reasonable Control
        p.
          Neither party will be responsible for any delay or failure to comply
          with these Terms if the delay or failure arises from any cause which
          is beyond its reasonable control. This includes, but is not limited
          to, natural disasters, labor strikes, etc.

        h2 Limitation of Liability
        p.
          TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE AND OUR
          SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND
          LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
          SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT
          LIMITATION, LOSS OF PROFITS, LOSS OF DATA, LOSS OF USE, LOSS OF
          ANTICIPATED SAVINGS; ACCRUED BUT WASTED EXPENDITURE; COST OF
          PROCUREMENT OF SUBSTITUE GOODS OR SERVICES, LOSS OF GOOD-WILL, OR
          OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF
          OR INABILITY TO ACCESS OR USE THE SERVICE; (ii) ANY CONDUCT OR
          CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING, WITHOUT
          LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER
          USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICE;
          AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF ANY MATERIAL OR
          CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING
          NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT WE HAVE BEEN
          INFORMED OF THE POSSIBILITY OF SUCH DAMAGE. IN SOME JURISDICTIONS THE
          APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY
          FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR
          EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, OUR LIABILITY WILL
          BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW. IN
          ALL CASES OUR MAXIMUM LIABILITY IS LIMITED TO ANY FEES PAID BY YOU
          TO US.

        h2 Indemnity
        p.
          You agree to indemnify and hold us harmless from any claim or demand,
          including attorneys fees, made by any third party due to or arising
          out of your breach of these Terms, or your violation of any law or
          the rights of a third party. Nothing in these Terms shall be deemed
          to exclude or limit your liability in respect of any indemnity given
          by you under these Terms.

        h2 Waiver and Severability
        p.
          Our failure to exercise any rights under these Terms shall not
          constitute or be deemed a waiver or forfeiture of such rights or a
          waiver or forfeiture of such rights in the future. In the event that
          any provision of these Terms is held to be invalid or unenforceable
          by a court or tribunal of competent jurisdiction for any reason, the
          remaining provisions of these Terms will remain in full force and
          effect.
        p.
          Shipping Customers outside the United States are responsible for any
          customs and import duties, quotas, permits, product restrictions and
          other local requirements. These charges must be paid by the recipient
          of the parcel. As customs policies vary widely from country to
          country, please check the requirements in your country before placing
          an order. We will not be liable for any customs or import duties.
          Once an order has left the Stoned facility, it is in the custody of
          the mail carrier you have selected to deliver the order to you. Risk
          of loss and title for items purchased from the Website pass to you
          upon delivery of the item(s) to the carrier. You are responsible for
          filing any claims with carriers for damaged, lost, and delayed
          shipments, and Stoned disclaims all liability with regard to such
          shipments.
        p.
          The laws of the State of #{legalState}, without regard to or application
          of its conflict of law provisions, will govern these Terms, and any
          claim, cause of action or dispute arising out of or relating to these
          Terms will be brought solely in the courts of the County of
          #{legalCounty},
          State of #{legalState}. You hereby consent to the jurisdiction of and
          venue in such courts and waive any objection as to inconvenient
          forum.

        h2 Referral Program
          h3 Participation
          p.
            By participating in the Referral Program in any way, you agree to be
            bound by these Referral Terms. If you do not agree to all of the
            terms and conditions of these Referral Terms, you may not participate
            in the Referral Program. We may revise these Referral Terms from time
            to time in our sole discretion, subject to applicable law. When we
            revise these Referral Terms, we will post the revised version on the
            Website. You are free to decide whether or not to accept a revised
            version of these Referral Terms, but accepting these Referral Terms,
            as revised, is required for you to continue participating in the
            Referral Program. If you do not agree to these Referral Terms or any
            revised version of these Referral Terms, your sole recourse is to
            terminate your participation in the Referral Program. Except as
            otherwise expressly stated by us, your participation in the Referral
            Program is subject to, and constitutes your acceptance of, the
            version of these Referral Terms in effect at the time of your
            participation in the Referral Program.

          h3 Eligibility
          p.
            In order to participate in the Referral Program, you must accept and agree to
            our Terms of Use, including these Referral Terms and our Privacy Policy, and
            have and maintain an account in good standing.

          h3 Earning Rewards
          p.
            When you register for an account, we will provide you with a
            hyperlink that contains a unique referral ID associated with your
            account (a "Referral Link"). You may use this Referral Link on
            social media or other venues owned by you to refer friends and
            audiences to the #{site.title} website. You may not use paid
            advertising (such as Google Adwords, Facebook Ads, or Bing) to
            promote your Referral Link.  You also may not promote your Referral
            Link on sites owned by someone else (such as Wikipedia or coupon
            websites).

          h3 Restrictions and Limitations
          p.
            Actions taken by your friends and audiences on the #{site.title}
            website can earn you points, which in turn entitle you to rewards, as
            defined by the progress on your account page.  Please check your
            account page for the current ways to earn points, and current
            rewards.  All actions taken to earn points must be bona fide.
            Transactions must be initiated without intention to refund, defraud,
            or otherwise damage either your friends and audiences or
            #{site.title}.  Data provided must be accurate and not violate our
            Privacy Policy or applicable law.  More specific terms regarding what
            constitutes bona fide actions may be found on the account page (if
            available).  #{site.title} has sole final discretion on whether or
            not a specific action or set of actions is bona fide and therefore
            qualifies to receive a reward. We reserve the right to investigate
            any suspicious or inappropriate activity relating to the Referral
            Program, and to assign any account found to be conducting any such
            activity appropriate penalties or restrictions.

          h3 Non-Exclusive
          p.
            The Referral Program is non-exclusive. You acknowledge and agree that we may,
            at any time, solicit customer referrals via any method in our sole discretion.

          h3 Termination or Suspension of Referral Program
          p.
            You may stop participating in the Referral Program at any time
            ceasing to use your Referral Link. We may, at our sole discretion,
            suspend, limit, or terminate the Referral Program and terminate these
            Referral Terms and Conditions for any reason at any time by providing
            notice to you (including notice via email at the email address we
            have for you in our records). Termination of the Referral Program and
            these Referral Terms will not automatically result in the termination
            of our Terms of Use or your account, unless otherwise specified by
            us. However, termination of our Terms of Use or closure of your
            account will result in the automatic termination of your
            participation in the Referral Program and termination of these
            Referral Terms. Upon termination of these Referral Terms, you must
            immediately cease all use of Referral Links, and Referral Rewards
            earned but unpaid as of the date of termination will remain earned,
            unless we terminate these Referral Terms for your breach of these
            Referral Terms or our Terms of Use. Provisions of these Referral
            Terms that, by their nature, should survive termination of these
            Referral Terms will survive termination of these Referral Terms.

        h2 Contact
        p.
          The Service is operated and provided by #{legal.name}. If you
          have any questions about these Terms, please contact us at
          #{contact.email}.

        h2 Term and Termination
        p.
          We reserve the right to discontinue offering the Service or to modify
          the Service at any time in our sole discretion and without notice.
          Notwithstanding anything contained in these Terms to the contrary, we
          may also, in our sole discretion, terminate or suspend your access to
          the Service and/or your Membership at any time. Following
          termination, all such terms that by their nature may survive
          termination of these Terms shall be deemed to survive such
          termination.
